# secrets
.env

# python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# tests/tools
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# local artifacts
*.log

# docker / volumes (на всякий)
pg_data/

